// 入住日期与退房日期样式
.filter-form-title {
  line-height: 1;
}
.filter-price-container .ant-radio-group, .category-checkbox-group .ant-checkbox-group {
  margin-bottom: -.16rem;
}

.filter-date-box{
  background: #fff;
  border: #D9D9DE solid 1px;
  width: 3.43rem;
  margin: 0.16rem auto 0;
  border-radius: 0.02rem;
  height: 0.64rem;
  padding: 0.12rem 0;
  position: relative;
  .date-from-item{
    width: 1.7rem;
    display: inline-block;
    height:0.4rem;
    border-right: #D9D9DE solid 1px;
    position: absolute;
    top: 0.12rem;
    left: 0;
    label{
      color: #9D9DA3;
      text-align: center;
      font-size: 0.13rem;
      line-height: 0.13rem;
      display: block;
    }
    .date-from-item-control{
      .ant-calendar-picker{
        color: #3A3A48;
        display: block;
        font-size: 0.14rem;
        .ant-calendar-range-picker{
          height: 0.16rem;
          border: none;
          padding: 0;
          width: 1.69rem;
          line-height: 0.16rem;
          margin-top: 0.1rem;
          text-align: center;
          border-radius: 0;
          font-size: 0.14rem;
          color: #3A3A48;
        }
        .ant-calendar-range-picker::-webkit-input-placeholder {
          color: #3A3A48;
        }
        .ant-calendar-picker-icon:after{
          color: #fff;
        }
      }
    }
  }
  .date-to-item{
    width: 1.7rem;
    display: inline-block;
    height:0.4rem;
    position: absolute;
    top: 0.12rem;
    right: 0;
    label{
      color: #9D9DA3;
      text-align: center;
      font-size: 0.13rem;
      line-height: 0.13rem;
      display: block;
    }
    .date-to-item-control{
      .ant-calendar-picker{
        color: #3A3A48;
        font-size: 0.14rem;
        .ant-calendar-range-picker{
          height: 0.16rem;
          border: none;
          padding: 0;
          line-height: 0.16rem;
          margin-top: 0.1rem;
          text-align: center;
          border-radius: 0;
          font-size: 0.14rem;
          color: #3A3A48;
        }
        .ant-calendar-range-picker::-webkit-input-placeholder {
          color: #3A3A48;
        }
        .ant-calendar-picker-icon:after{
          color: #fff;
        }
      }
    }
  }
}
