/*单日期日历*/
:global{
  .modalContent {
    .ant-modal-content {
      border-radius: 0
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-footer {
      display: none
    }
    .ant-modal-close-x {
      display: none;
    }
  }
}
.datePickerContent {
  :global {
    .ant-form-explain {
      position: absolute;
      top: 0.3rem;
      left: 1.4rem;
      color: #d0021b;
    }
  }
}

.myDatePicker {
  width: 3.51rem;
  margin: 0 auto;
  .top {
    position: fixed;
    width: 3.75rem;
    margin: 0 auto;
    div {
      height: .4rem;
      background-color: black;
      color: #fff;
      font-size: .15rem;
      font-weight: 400;
      text-align: center;
      padding-top: .1rem;
      span {
        float: right;
        margin-right: .1rem;
      }
    }
  }
  .toptwo {
    width: 3.49rem;
  }
  .topThree {
    position: fixed;
    width: 3.12rem;
    div {
      font-size: .2rem;
      background: white;
      padding: .2rem 0 .1rem .1rem;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      border-bottom: 1px solid #e6e6e9;
      font-size: .16rem;
      font-weight: normal;
      height: .4rem;
    }
    td {
      height: .5rem;
      text-align: center;
      font-size: .18rem;
      padding-top: .05rem;
      vertical-align: top;
    }
  }
  .monthSpan {
    font-size: .2rem;
    border-bottom: 2px solid #d9d9de;
    padding-bottom: .1rem;
    margin-left: .2rem;
  }
  .priceTag {
    font-size: .1rem;
    color: #9D9DA3;
    width: .53rem;
  }
  .priceTagTwo {
    font-size: .1rem;
    width: .48rem;
  }
  .priceTagThree {
    font-size: .1rem;
    color: #9D9DA3;
    width: .43rem;
  }
  .tdOne {
    color: #c0c0c8;
  }
  .tdTwo {
  }
  .tdThree {
    background: url('assets/unavaiable.png') center center no-repeat;
    color: #c0c0c8;
  }
  .tdFour {
    background-color: black;
    color: white;
  }
  .tdFive {
    color: #c0c0c8;
  }
  .tdSix {
  }
  .tdSeven {
    background-color: black;
    color: white;
  }
  .tdEight {
    background-color: #3a3a48;
    color: white;
  }
  .tdNine {
    background-color: black;
    color: white;
  }
}

.dateMessageOne, .dateMessageTwo, .dateMessageThree, .dateMessageFour {
  height: 100%;
  float: left;
}
.dateMessageOne {
  vertical-align: middle;
  margin: .06rem .08rem 0 1.3rem;
  img {
    height: .22rem;
    width: .22rem;
  }
}
.dateMessageTwo {
  width: 40%;
  .beforePTwo {
    line-height: .35rem;
    font-size: .16rem;
    color: #3A3A48;
  }
}
.dateMessageThree {
  width: 15%;
  .beforeDiv {
    margin-top: .2rem;
    border-bottom: 1px solid #d9d9de;
  }
  .afterDiv {
    text-align: center;
    margin-top: .1rem;
    border-bottom: 1px solid #d9d9de;
  }
}
.dateMessageFour {
  width: 30%;
  margin-left: .28rem;
  .beforePFour {
    line-height: .42rem;
    font-size: .15rem;
  }
}

.afterPOne {
  margin-top: .1rem;
  font-size: .16rem;
  line-height: 1;
  color: #3A3A48;
}
.afterPTwo {
  margin-top: .03rem;
  color: #9b9b9b;
}
